/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.body {
  overflow-x: hidden;
  width: 100vw;
  background-color: #222831;
}
nav {
  width: 100%;
  background-color: #222831;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 9vh;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  z-index: 999;
  height: 100%;
}
nav > ul > li {
  margin: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: Nunito;
}
nav > ul > li > a.active {
  color: #f05455;
}
nav > ul > li.active {
  border-bottom: 2px solid #f05455;
}
nav > button {
  font-family: Mulish;
  background-color: #f05455;
  color: white;
  border: none;
  border-radius: 30px;
  width: 150px;
  height: 39px;
  font-size: 18px;
  z-index: 999;
  cursor: pointer;
}

.main__image {
  height: 100vh;
  width: 100%;
}
.main__image > img {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1;
}

.blend {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  background: linear-gradient(to top, #222831, transparent);
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.motto {
  position: absolute;
  top: 20%;
  left: 20%;
  display: flex;
  flex-direction: column;
  font-family: Futura;
  width: 100vw;
}

.motto > p:nth-child(1) {
  font-family: Futura;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f05455;
  margin-bottom: 50px;
}
.motto.home > .headings > p:nth-child(1) > svg {
  margin-right: 30px;
}
.motto > p:nth-child(2) {
  color: #ffffff;
  font-size: 64px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 600;
  width: 1170px;
  margin-bottom: 40px;
}
.motto > p:nth-child(3) {
  font-size: 18;
  color: #fff;
  display: flex;
}
.motto > p:nth-child(3) > svg {
  margin-left: 10px;
}

/* HOME INDEX SPECIFIC CODE */
.motto.home {
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.motto.home > .headings {
  position: relative;
  left: 13%;
  margin-top: 12%;
  margin-bottom: 90px;
}
.motto.home > .headings > p:nth-child(1) {
  font-family: Futura;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #f05455;
  margin-bottom: 50px;
}
.motto.home > .headings > p:nth-child(1) > svg {
  margin-right: 30px;
}
.motto.home > .headings > p:nth-child(2) {
  color: #ffffff;
  font-size: 64px;
  line-height: 100px;
  text-transform: uppercase;
  font-weight: 600;
  width: 1170px;
  margin-bottom: 40px;
}
.motto.home > .headings > p:nth-child(3) {
  font-size: 18;
  color: #fff;
  display: flex;
}
.motto.home > .headings > p:nth-child(3) > svg {
  margin-left: 10px;
}

.home__socials {
  color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home__socials > p {
  font-size: 35px;
  font-family: Nunito;
  margin-bottom: 30px;
}
.socials > a {
  margin-left: 20px;
  margin-right: 20px;
}
.main__image.index {
  position: absolute;
  z-index: 1;
}
.dots_content {
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 80vh;
}
.dots_content > p:nth-child(1) {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 86px;
  color: #222831;
  height: 150px;
}
.dots_content > p:nth-child(2) {
  display: flex;
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 50px;
  width: 50%;
  text-align: center;
  height: 300px;
  color: rgba(34, 40, 49, 0.5);
}
.dots_content > button {
  font-family: Mulish;
  background-color: #f05455;
  color: white;
  border: none;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  font-size: 18px;
  z-index: 1;
  cursor: pointer;
}
.dots_content > a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #f05455;
  z-index: 1;
  text-decoration: none;
}
.home {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.home_three {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #222831;
}
.home_four {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #efefef;
}
.header {
  /*header*/
  /* balck */

  height: 94px;
  background: #222831;
}
.future1 {
  /* desktop Hero Light 1 */
  /* Inside Auto Layout */

  max-height: 50%;
  object-fit: contain;
}
.desktop {
  height: 398px;
  background: #222831;
  top: 94px;
}
.Future_Studio {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f05455;
}
.Become_Investor {
  font-family: Futura;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: #efefef;
}
.Registration {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #f05455;
}
.submit_i {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: #222831;
  mix-blend-mode: normal;
}
.label_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 11px;
  letter-spacing: 2px;
  color: #252b42;
}
.input_red {
  background: #ffffff;
  border: 2px solid #f05455;
  border-radius: 10px;
}
.input_grey {
  background: #ffffff;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
}
.custom-select-trigger {
  position: relative;
  display: block;
  width: 130px;
  padding: 0 84px 0 22px;
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  line-height: 60px;
  background: #5c9cd8;
  border-radius: 4px;
  cursor: pointer;
}
.btn {
  height: 50px;
  text-align: center;
  background: #f05455;
  border-radius: 10px;
}
.div_end {
  height: 200px;
  background: #222831;
}
.future2 {
  position: absolute;
  width: 149px;
  height: 42px;
  left: 65px;
  top: 1450px;
}
.desktop_end {
  background: #222831;
}
.Newsletter {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #efefef;
}
.Your_email {
  height: 48px;
  border: 2px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 10px;
}
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.container > header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container > header > p {
  font-family: Futura;
  font-size: 42px;
  color: white;
}
.container > header > button {
  background: transparent;
  border: 1px solid #f05455;
  border-radius: 30px;
  color: #f05455;
  width: 170px;
  height: 50px;
}
.circle {
  border-radius: 50%;
}
.cards {
  max-width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 350px;
  height: 350px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.card.portfolio {
  border: none;
}
.card > h4 {
  color: white;
  font-family: Futura;
  font-size: 28px;
  margin-bottom: 10px;
}
.card > small {
  color: #f05455;
  font-size: 20px;
  margin-bottom: 10px;
}
.card-image {
  margin-bottom: 30px;
}
.card-image > img {
  width: 150px;
  height: 150px;
}
.card-image > img {
  width: 100px;
  height: 100px;
}
.container > ul > li {
  display: inline-block;
}
.join {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid white;
  margin-top: 90px;
  border-radius: 20px;
  padding: 20px 0;
}
.join > h1 {
  font-family: Futura;
  color: white;
  text-transform: uppercase;
  font-size: 46px;
  margin-bottom: 50px;
}
.join > p {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  width: 100%;
}
.buttons {
  margin-top: 40px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}
.call,
.get-in-touch {
  color: #efefef;
  width: 170px;
  height: 60px;
  border-radius: 30px;
}
.get-in-touch {
  background: #f05455;
  border: 1px solid #f05455;
}
.call {
  background: transparent;
  border: 1px solid #efefef;
}
.newsletter {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter.index {
  margin-top: 0 !important;
  padding: 30px;
}
.newsletter > h1 {
  font-family: Futura;
  font-size: 48px;
  color: white;
}
.line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.footer-image {
  position: absolute;
  width: 100%;
}
.footer-image > img {
  width: 100%;
}
.bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav > svg {
  margin: 0 50px;
}
.bottom-nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-nav > ul > li {
  margin: 0 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.bottom-nav > ul > li > a {
  text-decoration: none;
  color: white;
  font-family: Nunito;
}
/* Burger menu */
.burger {
  display: inline-block;
  cursor: pointer;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@keyframes hide {
  0% {
    display: flex;
  }
  15% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    display: none;
  }
}
@keyframes show {
  0% {
    display: none;
  }
  15% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    display: flex;
  }
}
.show {
  animation: show 1s ease-in-out;
}
.hide {
  animation: hide 1s ease-in-out;
}
.mobile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 99999;
  position: absolute;
}
.mobile-nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mobile-nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid white;
  width: 100%;
  padding: 30px;
}
.mobile-nav > ul > li > a {
  text-decoration: none;
  font-family: Nunito;
  font-size: 36px;
  color: white;
}
.home_four {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home_four > section {
  margin-top: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home_four > section:nth-child(1) > img {
  transform: scale(-1, -1);
  position: absolute;
  width: 100%;
  height: 100%;
}
.home_four > section:nth-child(1) > p {
  font-family: Futura;
  font-weight: 900;
  font-size: 96px;
  text-transform: uppercase;
  width: 60%;
}
.home_four > section:nth-child(2) {
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.home_four > section:nth-child(2) > div {
  padding: 20px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #8b8b8b;
  height: 250px;
}
.home_four > section:nth-child(2) > div > h1 {
  color: #f05455;
  font-family: "DM sans", sans-serif;
  font-size: 24px;
}
.home_four > section:nth-child(2) > div > p {
  text-align: center;
  font-size: 18px;
  width: 270px;
  margin: 30px 0;
  font-family: "DM sans", sans-serif;
}
.home_four > section:nth-child(2) > div:nth-child(1) > p {
  text-align: center;
  font-size: 18px;
  width: 270px;
  margin: 20px 0;
  font-family: "DM sans", sans-serif;
}
.home_four > section:nth-child(2) > div > button {
  font-family: "DM sans", sans-serif;
  font-size: 20px;
  background-color: #f05455;
  color: white;
  border: none;
  border-radius: 30px;
  width: 250px;
  min-height: 60px;
  cursor: pointer;
}
/* Responsiveness */
@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important;
  }
  .newsletter {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .newsletter > svg {
    margin: 0 50px;
  }
  .newsletter > ul > li {
    margin-bottom: 10px;
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
  }
  .newsletter > ul > li > a {
    text-decoration: none;
    color: white;
    font-family: Nunito;
  }
  .newsletter > svg {
    width: 10px;
    height: 42px;
  }
  .our-team {
    font-size: 30px !important;
  }
}
@media only screen and (min-width: 992px) {
  .hide-on-med-and-up {
    display: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .hide-on-small-only,
  .hide-on-small-and-down {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .motto {
    left: 2%;
  }
  .motto > p:nth-child(2) {
    color: #ffffff;
    font-size: 20px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 600;
    width: 90%;
    margin-bottom: 40px;
  }
  .join > p {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 100%;
  }
  .buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .call,
  .get-in-touch {
    width: 150px;
    height: 60px;
  }
}
@media only screen and (max-width: 1276px) {
  .motto {
    left: 3%;
  }
  .motto > p:nth-child(2) {
    color: #ffffff;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    margin-bottom: 40px;
  }
  .join > p {
    color: #ffffff;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    width: 100%;
  }
  .buttons {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .call,
  .get-in-touch {
    width: 150px;
    height: 60px;
  }
}
